@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$main-color:      #7b7afd;
$main-color-dark: #6969db;
$background-color:#000000;
$font-color-title:#ffffff;
$font-color-body: #959595;
$font-color:#ffffff;
$font-family:       'Work Sans', sans-serif;
$font-family-footer: 'Source Code Pro', monospace;