* {
    overflow-x: hidden;
}

body {
    font-family: $font-family;
    color: $font-color-body;
    background-color: $background-color;
    overflow: hidden;
}

a {
    all: unset;
    cursor: pointer;

    &:hover {
        color: yellow;
    }
}