@import '_abstract_variables';
@import '_global_normalize';

* {
    overflow-x: hidden;
}

body {
    font-family: $font-family;
    color: $font-color-body;
    background-color: $background-color;
    overflow: hidden;
}

a {
    all: unset;
    cursor: pointer;

    &:hover {
        color: yellow;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.main-container {
    animation: 0.8s ease-out 0s 1 fadein;
    max-width: 768px;
    margin: 0 auto;

    &>.wrapper {
        padding: 0 15px;
    }

    &>.wrapper>.title {
        color: $font-color-title;
        font-size: 3.25rem;
    }

    &>.wrapper>.paragraph {
        font-size: 1.063rem;
        line-height: 163%;
    }
}

.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 15px;
    font-family: $font-family-footer;
    color: $font-color;
    background-color: $main-color;
    border-top: 10px solid $main-color-dark;
}

@media (min-width: 480px){
    .main-container{
        
        & > .wrapper{
            padding: 0 45px;
        }

        & > .wrapper > .title {
            font-size: 3.625rem;
        }
    
        & > .wrapper > .paragraph {
            font-size: 1.25rem;
        }
    }
}

@media (min-width: 768px){
    .main-container{

        & > .wrapper > .paragraph {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 991px){
    .main-container{
        max-width: 715px;

        & > .wrapper > .title {
            font-size: 4.125rem;
        }

        & > .wrapper > .paragraph {
            font-size: 1.688rem;
        }
    }
}